// Typefaces
$default-font: "Helvetica Neue", Helvetica, Arial, sans-serif;

// Font Sizes
$default-font-size: 14px;

// Colours
$bg-color: #f2f2f2;
$font-color: #333;

$main-bg-color: gray;
$typeface: Arial, sans-serif;

// Border
$wip-border: 1px solid black;